/* Mixins */
/* Sticky */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
}

/* Colours */
.header {
  background-color: #609638;
  color: white;
}

.navigation a,
.navigation a:hover {
  color: white;
  fill: white;
}
.navigation a:hover {
  background-color: #4d782d;
}
.navigation .menu-mobile:hover {
  background-color: transparent;
}

.section {
  background-color: #e1e1e1;
}

.main .page-title {
  color: white;
}
.main .menu-aside {
  color: #323232;
  fill: #323232;
}
.main .menu-aside a {
  color: #323232;
}
.main .menu-aside a:hover {
  border-right-color: #609638;
  text-decoration: none;
}
.main .menu-aside .menu-mobile {
  border: none;
  border-bottom: 1px dotted #e1e1e1;
}
.main .menu-aside .menu-mobile.toggled + ul a:hover {
  border: none;
}
.main .content h2 {
  color: #12436d;
}
.main .content p {
  color: #323232;
}
.main .content .schedule .schedule-block {
  border-bottom-color: #609638;
}
.main .content .schedule .time {
  color: #0e3353;
}
.main .content .schedule .schedule-desc li {
  border-bottom-color: #609638;
}
.main table {
  width: 100%;
}
.main table tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.main table td {
  padding: 0.4em 0.6em;
}
.main table td:first-of-type {
  padding-right: 5em;
}

.cards span {
  background-color: #e1e1e1;
  color: #323232;
}
.cards li:nth-of-type(1) h2 {
  background-color: #0e3353;
}
.cards li:nth-of-type(2) h2 {
  background-color: #cf5d2d;
}
.cards li:nth-of-type(3) h2 {
  background-color: #609638;
}
.cards h2 {
  color: white;
}

.qa:nth-of-type(even) {
  background-color: #ebebeb;
}

.qa-list li:nth-of-type(even) {
  background-color: #ebebeb;
}
.qa-list a {
  color: #0e3353;
}

.btn.btn-primary {
  background-color: #609638;
  border-color: #6aa53e;
  color: white;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  border-color: #568732;
  background-color: #4d782d;
}

.footer {
  background-color: #609638;
  color: white;
}
.footer a,
.footer a:hover {
  color: white;
}
.footer .address-map {
  border-bottom-color: white;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
}

body {
  font-family: Georgia, serif;
}

.navigation {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
}
.navigation .menu-mobile {
  font-size: 2.2rem;
  line-height: 5.4rem;
}
.navigation .menu-mobile.toggled + ul {
  text-align: left;
}
.navigation ul {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.navigation a,
.navigation a:hover {
  text-decoration: none;
}

.main .page-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  .main .page-title {
    font-size: 2em;
  }
}
.main .menu-aside {
  text-align: right;
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}
.main .menu-aside.toggled {
  text-align: left;
  font-size: 1.1em;
}
.main .menu-aside a,
.main .menu-aside a:hover,
.main .menu-aside a:active,
.main .menu-aside a:visited {
  text-decoration: none;
}
.main .menu-aside .menu-mobile {
  text-align: left;
}
.main .menu-aside .menu-mobile.toggled {
  text-align: right;
}
.main .content {
  font-family: Georgia, serif;
  font-size: 1.3em;
  line-height: 1.6em;
}
.main .content h2 {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.main .content h3 {
  font-weight: 300;
  font-size: 1.3em;
}
.main .content .schedule {
  font-size: 1.2em;
}
.main .content .schedule .time {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  text-align: right;
}
.main .content table th:first-of-type {
  text-align: right;
}
.main .content table th:last-of-type {
  text-align: left;
}
.main .content table tr {
  border-bottom-color: #609638;
}
.main .content table td:first-of-type {
  text-align: right;
}

.cards {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
}
.cards a,
.cards a:hover {
  text-decoration: none;
}
.cards h2 {
  font-weight: 500;
  letter-spacing: 0.01em;
}
.cards h2 > em {
  font-weight: 100;
  font-style: normal;
}
.cards span {
  font-size: 1em;
}
@media only screen and (min-width: 992px) {
  .cards span {
    font-size: 1.2em;
  }
}

.qa-list {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  font-size: 1.5em;
}

.footer .contact-info {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  text-align: right;
}
.footer .contact-info ul {
  font-size: 1.3em;
  font-weight: 300;
}
.footer .address-map {
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.login {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  font-size: 2.2rem;
}
.login label {
  font-weight: 300;
}

.btn {
  font-family: "Brandon-Grotesque", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* Kentico Stuff */
.EditMode .page-title {
  font-family: Arial, sans-serif !important;
  background-color: transparent !important;
  color: black !important;
  font-weight: normal;
  font-size: 1em;
}
.EditMode .page-title:after {
  display: none !important;
}
.EditMode .content {
  margin-top: -10rem !important;
  position: absolute;
  right: 0;
  margin-bottom: 14rem;
}
.EditMode .main .content {
  margin-top: -3rem !important;
}
.EditMode .menu-aside + .content {
  right: -7rem;
}
.EditMode .footer {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-width: 992px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    margin-bottom: 3rem;
  }
}
.header .logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header .logo a {
  display: inline-block;
  width: 16rem;
}
@media only screen and (min-width: 768px) {
  .header .logo a {
    width: 201px;
  }
}
@media only screen and (min-width: 992px) {
  .header .logo a {
    width: 220px;
  }
}
.header .navigation {
  text-align: right;
}
.header .navigation .menu-mobile {
  display: inline-block;
  position: absolute;
  top: -6.2rem;
  right: 0.4rem;
  padding: 0.2rem 2.2rem;
}
.header .navigation .menu-mobile.toggled + ul {
  width: 100%;
  display: block;
}
.header .navigation .menu-mobile.toggled + ul li {
  width: 100%;
}
.header .navigation .menu-mobile.toggled + ul a {
  display: block;
}
@media only screen and (min-width: 768px) {
  .header .navigation .menu-mobile {
    display: none;
  }
}
.header .navigation ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  .header .navigation ul {
    display: block;
  }
}
.header .navigation li {
  display: inline-block;
}
.header .navigation li > a {
  display: inline-block;
  padding: 2.8rem 1.6rem;
}
@media only screen and (min-width: 768px) {
  .header .navigation li > a {
    padding: 3.45rem 1.6rem;
  }
}
.header.toggled {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}
.header.toggled:after {
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  min-height: 100%;
  background-color: #609638;
  z-index: -1;
  width: 100%;
}
.header.toggled + .row {
  display: none;
}
.header.toggled + .row + .row {
  display: none;
}
.header.toggled + .row + .row + .row {
  display: none;
}
.header.toggled + .row + .row + .row + .row {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero > div {
    width: 1170px;
  }
}
@media only screen and (min-width: 992px) {
  .hero img {
    width: 100%;
  }
}

.section {
  padding: 2.2rem 2rem;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 2.4rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding: 2.8rem 3.2rem;
    margin-bottom: 1.2rem;
  }
}

.main .page-title {
  position: relative;
  background-color: #0e3353;
  margin: 0 -2.2rem 0.4rem 0;
  padding: 1.25rem 2rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main .page-title {
    margin: 0 -2.2rem 2.4rem 0;
    padding: 1.2rem 2rem;
  }
}
.main .page-title + div .menu-aside {
  /*margin-top: -1rem;*/
}
.main .page-title:after {
  display: none;
}
@media only screen and (min-width: 768px) {
  .main .page-title:after {
    display: block;
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: solid 2.8rem;
    border-left-color: #0e3353;
    border-right-color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-width: 3.2rem;
  }
}
.main .menu-aside {
  display: block;
}
@media only screen and (min-width: 768px) {
  .main .menu-aside {
    display: block;
  }
}
.main .menu-aside ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 2.2rem 0 0 0;
}
@media only screen and (min-width: 768px) {
  .main .menu-aside ul {
    display: block;
  }
}
.main .menu-aside li {
  display: block;
}
.main .menu-aside a {
  display: block;
  padding: 0.76rem;
  border-right: 4px solid transparent;
}
.main .menu-aside a.toggled {
  border: none;
}
.main .menu-aside .menu-mobile {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0.4rem;
  padding: 1.6rem 2.2rem;
  z-index: 19;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main .menu-aside .menu-mobile {
    display: none;
  }
}
.main .menu-aside .menu-mobile span {
  margin-right: 1.2rem;
}
.main .menu-aside .menu-mobile.toggled {
  top: -4.6rem;
}
.main .menu-aside .menu-mobile.toggled span {
  display: none;
}
.main .menu-aside.toggled ul {
  display: block;
  margin: 4.6rem 0 0 0;
}
.main .menu-aside + .content {
  padding-top: 7rem;
}
@media only screen and (min-width: 768px) {
  .main .menu-aside + .content {
    padding-top: 1.4rem;
  }
}
.main .content {
  padding-top: 1.4rem;
  margin-bottom: 9rem;
}
.main .content h2:first-of-type {
  margin-top: 0;
}
.main .content p + h2 {
  margin-top: 2em;
}
.main .content p + h2:first-of-type {
  margin-top: 2em;
}
.main .content ul + h2 {
  margin-top: 2em;
}
.main .content .bio h2 {
  margin: 0;
}
.main .content .bio h2 + h3 {
  margin: 0.6em 0;
}
.main .content .bio img {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .main .content .bio img {
    margin-bottom: initial;
  }
}
.main .content .schedule .schedule-block {
  display: flex;
  margin-bottom: 2.2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.main .content .schedule .schedule-block + h2 {
  margin-top: 9rem;
}
.main .content .schedule .time {
  padding: 1em;
}
.main .content .schedule li {
  border-bottom: 1px solid;
}
.main .content .schedule li:last-of-type {
  border: none;
}
.main .content .schedule .schedule-desc {
  padding-right: 0;
}
.main .content .schedule .schedule-desc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main .content .schedule .schedule-desc li {
  padding: 1em;
}
.main .content table {
  width: 100%;
}
.main .content table tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.main .content table th:first-of-type {
  padding-right: 5em;
}
.main .content table td {
  padding: 0.4em 0.6em;
}
.main .content table td:first-of-type {
  padding-right: 5em;
}

.cards {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cards {
    margin: 6.2rem 0;
  }
}
.cards > div {
  text-align: center;
}
.cards ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: block;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .cards ul {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .cards li {
    display: inline-block;
    float: left;
  }
}
.cards li:nth-of-type(1), .cards li:nth-of-type(3) {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cards li:nth-of-type(1), .cards li:nth-of-type(3) {
    margin-top: 1.8rem;
  }
}
@media only screen and (min-width: 992px) {
  .cards li:nth-of-type(1), .cards li:nth-of-type(3) {
    margin-top: 3rem;
  }
}
.cards li:nth-of-type(2) {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cards li:nth-of-type(2) {
    margin: 0 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .cards li:nth-of-type(2) img {
    height: auto;
  }
}
.cards a {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cards a {
    display: inline-block;
  }
}
.cards h2 {
  display: block;
  padding: 2rem;
  margin: 0;
}
.cards span {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cards span {
    display: block;
    padding: 2rem;
  }
}
.cards img {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cards img {
    display: inline-block;
    width: 220px;
    height: auto;
  }
}
@media only screen and (min-width: 992px) {
  .cards img {
    width: 290px;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .cards img {
    width: 300px;
    height: 255px;
  }
}

.qa {
  margin-bottom: 2.2rem;
  padding: 1.2em 1.8em;
}

.qa-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.qa-list a {
  display: block;
  padding: 1rem 1.4rem;
}
.qa-list a:hover, .qa-list a:active {
  text-decoration: none;
}

.bio {
  margin-bottom: 8rem;
  min-height: 34rem;
}

.login {
  margin-top: 18vh;
}
.login .logo {
  margin-bottom: 2.8rem;
}
.login .btn {
  padding: 1.4em;
  line-height: 0.2em;
}
@media only screen and (min-width: 992px) {
  .login .btn {
    padding: 2em;
  }
}

.footer {
  min-height: 20rem;
}
.footer .contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 1.6em;
}
.footer .contact-info ul a {
  display: inline-block;
}
.footer .tel {
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .footer .tel {
    pointer-events: none;
  }
}
.footer .address-map {
  display: inline-block;
  padding: 1.6em;
}

/*# sourceMappingURL=yankee.experienceagfirst.css.map */
